//variable-funciones
@import './struct/style__var'
@import './struct/style__color'
//cuerpo
@import './index/style__skelet'

body{
    background-color: fondo;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    @media ({$lg}) {
        display: grid;
        grid-template-columns: auto 1200px auto;
	    grid-template-rows: 100%;
    }
}
