.container{
    background-color: lienzo;
    border-radius: 30px;
    display: grid;
    grid-template-rows: 350px auto;
    position relative;
    left: 2.5%;
    top: 2.5%;
    height 95%;
    width: 95%;    
	@media ({$lg}) {
        grid-column:2
        left: auto;
        right: auto;	
		width: 1200px;
	}
    @media ({$mddesc}) {
			
	}
    @media ({$smdesc}) {
			
	}
	@media ({$xs}) {
        left: 0;
        top: 0;
	 	width: 100%;	
	}
}
#baner{
    grid-row 1;
}
#content{
    grid-row 2;
}